
//
// VARIABLES
//

// Colors
$blue: #36b8b3;
$pink: #d74b94;
$yellow: #f7da26;
$green: #a1d23d;

// Grays
$black: #000;
$darkGray: #3b3838;
$gray: #afabab;
$lightGray: #d0cece;
$white: #fff;

// Font stacks
$amatic: "Amatic SC", cursive;
$pontanoSans: "Pontano Sans", sans-serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
